@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Eczar:wght@400..800&display=swap');

 

*  {
    box-sizing: border-box;
    font-family:Eczar;

}  

[data-theme="dark"]{
    
    --primary-color-light:#bbe4e9; 
    --primary-color-dark:#b555a0; 
    --secondary-color-light: #79c2d0;
    --primary-color-dark: #53a8b6; 
}

.center {
    position:absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
}